body {
  font-family: Arial;
  overflow: hidden;
}

div {
  width: 100px;
  height: 100px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 300px;
  position: relative;
}

h1{
  color: white;
}

#instructions h1 {
  font-family: 'Do Hyeon', sans-serif;
  font-size: 30px !important;
}

#instructions {
  width: 60%;
  margin: auto;
  position: fixed;
  color: white;
  line-height: 1.3em;
  border: 2px solid #fff;
  text-align: -webkit-center;
  /* box-shadow: 0 0 0 4px #003459, 2px 1px 6px 4px rgba(10, 10, 0, 0.5); */
  top: 0%;
  right: 0%;
  left: 0%;
  padding: 10px;
  margin-top: 50px;
  background: #5f0063;
}

.highlight {
  animation: highlightAnswer 1s;
}

@keyframes oneToThrees {
    0%   {bottom: 0px;
          left: 0px;}
    50%  {bottom: 70px;
          left: 150px;}
    100% {bottom: 0px;
          left: 300px;}
}
@keyframes threeToOnes {
    0%   {top: 0px;
          right: 0px;}
    50%  {top: 70px;
          right: 150px;}
    100% {top: 0px;
          right: 300px;}
}
@keyframes oneToTwos {
    0%   {top: 0px;
          left: 0;}
    50%  {top: 70px;
          left: 75px;}
    100% {top: 0px;
          left: 150px;}
}
@keyframes twoToOnes {
    0%   {bottom: 0px;
          right: 0px;}
    50%  {bottom: 70px;
          right: 75px;}
    100% {bottom: 0px;
          right: 150px;}
}
@keyframes twoToThrees {
    0%   {top: 0px;
          left: 0;}
    50%  {top: 70px;
          left: 75px;}
    100% {top: 0px;
          left: 150px;}
}
@keyframes threeToTwos {
    0%   {bottom: 0px;
          right: 0px;}
    50%  {bottom: 70px;
          right: 75px;}
    100% {bottom: 0px;
          right: 150px;}
}

#wrapper {
  display: flex;
  justify-content: center;
}

.highlight:hover {
  border: 2px;
  border-color: green;
}

#feedback {
  padding: 2%;
  display: flex;
  text-align: center;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#feedback #username {
  width: 50px;
  height: 20px;
}

#feedback #submitun {
  width: 175px;
  height: 50px;
  margin-top: 10px;
  background: #196c87;
  background-image: -webkit-linear-gradient(top, #196c87, #00a8e8);
  background-image: -moz-linear-gradient(top, #196c87, #00a8e8);
  background-image: -ms-linear-gradient(top, #196c87, #00a8e8);
  background-image: -o-linear-gradient(top, #196c87, #00a8e8);
  background-image: linear-gradient(to bottom, #196c87, #00a8e8);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  text-shadow: 3px 3px 2px #0d0d0d;
  font-family: 'Do Hyeon', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: 2px solid black;
  text-decoration: none;
}
#feedback #submitun:hover {
  background: #015773;
  background-image: -webkit-linear-gradient(top, #015773, #6acef2);
  background-image: -moz-linear-gradient(top, #015773, #6acef2);
  background-image: -ms-linear-gradient(top, #015773, #6acef2);
  background-image: -o-linear-gradient(top, #015773, #6acef2);
  background-image: linear-gradient(to bottom, #015773, #6acef2);
  text-decoration: none;
}
.win {
  text-decoration: none;
  font-size: 30px;
  line-height: 150%;
  color: gold;
  font-family: 'Do Hyeon', sans-serif;
}

.lose {
  font-size: 30px;
  line-height: 150%;
  color: red;
  font-family: 'Do Hyeon', sans-serif;
}

.lose a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.popup {
  animation: popupFeedBack 1s;
  animation-fill-mode: forwards;
  height: 150px;
  width: 70%;
  background-color: black;
  border: 5px solid white;
  position: fixed;
  top: 0%;
  right: 0%;
  left: 0%;
  z-index: 999;
  margin: auto;
  display: flex;
  box-shadow: 0px 0px 40px black  ;
  justify-content: center;
}

#position-pop {
  width: 0px;
  height: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes popupFeedBack {
    0%   {visibility: hidden;
          opacity: 0;
          z-index: -1;}
    100% {visibility: visible;
          opacity: 1;
          z-index: 200;
          top: 35%;}
}
#gamebody {
  background: black;
  background-size: cover;
}

#heat {
  width: 100%;
}

#bgm {
  text-align: center;
}