body {
  background-color: black;
}

#intro-box {
  margin-top: 150px;
  width: 100%;
  text-align: center;
}

#intro-box img {
  width: 70%;
}

.slideShow > div:not(.showImg) {
  display: none;
}
.showImg {
  text-align: center;
  display: block;
}

.showImg img {
  width: 80%;
}